.App {
    text-align: center;
}

.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 40vmin;
    pointer-events: none;
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}


/* Custom */

html,
body {
    height: 100%;
}

:root {
    --space: 1.5em 0;
    --space: 2em 0;
}

.site {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.site-content {
    flex: 1 0 auto;
    padding: var(--space) var(--space) 0;
    width: 100%;
}

.site-content:after {
    content: '\00a0';
    display: block;
    margin-top: var(--space);
    height: 0;
    visibility: hidden;
}


/* Helpers */

h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
    font-family: 'Comfortaa', cursive;
}

.w-text-b-shadow {
    text-transform: uppercase;
    color: #fff;
    text-shadow: 5px 5px 20px #000;
}

.fixed-nav {
    position: fixed;
}

.bg-black {
    background-color: #000;
}

.bg-light-gray {
    background-color: #D3D3D3;
}


/* Bootstrap Overrides */